<div class="flex justify-center p-6">
  <div class="block rounded-lg text-ligthgray">
    <div class="flex justify-center">
      <div class="flex-none font-normal text-base">
        <p class="text-base">Comisiones altaVoz</p>
      </div>
      <div class="flex-auto text-end font-bold text-base">
        <p>ARS 27.500</p>
      </div>
    </div>
    <div class="text-xs mt-3">
      altaVoz cobra 20% por cada venta hasta ARS 10.000 en comisiones. Luego, la comisión de altaVoz se reduce a 10% por
      venta.
    </div>
    <div class="w-full bg-progressgray h-3 rounded-lg mt-6">
      <div class="bg-progressgreen h-3 rounded-lg" style="width: 90%"></div>
    </div>
    <div class="text-xs text-end mt-3">
      ARS 10.000
    </div>

    <hr class="mt-6 mb-6">

    <div class="flex justify-center mt-6">
      <div class="flex-none font-normal text-base">
        <p class="text-base">Comisiones Creadores de Contenido</p>
      </div>
      <div class="flex-auto text-end font-bold text-base">
        <p>ARS 9.000</p>
      </div>
    </div>
    <div class="text-xs mt-3">
      Creadores de contenido cobran 10% de comisión por cada venta generada.
    </div>

    <hr class="mt-6 mb-6">

    <div class="flex justify-center">
      <div class="flex-none font-normal text-base">
        <p class="text-base">Comisiones Referrals</p>
      </div>
      <div class="flex-auto text-end font-bold text-base">
        <p>ARS 5.625</p>
      </div>
    </div>
    <div class="text-xs mt-3 mb-7">
      altaVoz cobra 20% por cada venta hasta ARS 10.000 en comisiones. Luego, la comisión de altaVoz se reduce a 10% por
      venta.
    </div>
  </div>
</div>
